---
import InnerLayout from '../layouts/InnerLayout.astro';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<InnerLayout
  meta={{
    title: 'Page not found',
    description: '404 page not found',
    canonicalURL: canonicalURL.href,
  }}
>
  <section class="region flow prose wrapper" id="main">
    Unfortunately, you've reached a page that doesn't exist! Head <a href="/"
      >back to the homepage</a
    > and see if you can find what you're looking for, or <a href="#contact">
      reach out to me if there's something missing</a
    >!
  </section>.
</InnerLayout>
