---
import Layout from '../layouts/Layout.astro';
---

<Layout meta={{ title: "The Internet's favorite Frank Stallone" }}>
  <section class="region wrapper flow prose">
    <h2 id="main">Nothing yet</h2>
  </section>
</Layout>
