---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/HeroTall.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout meta={{ title: "The Internet's favorite Frank Stallone" }}>
  <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
  <main>
    <!-- Heading & Hero -->
    <Hero />

    <!-- Contact -->
    <Contact />
    <!-- Footer -->
    <Footer />
  </main>
</Layout>
