---
import InnerLayout from '../layouts/InnerLayout.astro'
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<InnerLayout
  meta={{
    title: 'Frank Stallone: Uses',
    description:
      'All of the tech, hardware, and software I use on a daily basis',
    canonicalURL: canonicalURL.href,
  }}
>
  <section class="region flow wrapper" id="main">
    <h2>Uses</h2>
    <p>
      People often ask me what I use. This is a nice way to send someone to a
      place where I can list, and link to what I use.
    </p>
    <h3>On the desk</h3>
    <ul>
      <li>
        <a
          href="https://www.upliftdesk.com/uplift-v2-l-shaped-standing-desk/"
          target="_blank"
          aria-label="Opens in a new tab"
          >L-Shaped UPLIFT Standing Desk V2 Commercial, Bamboo</a
        >
      </li>
      <li>
        <a
          href="https://rode.com/en-us/interfaces-and-mixers/rodecaster-series/rodecaster-pro-ii/"
          target="_blank"
          aria-label="Opens in a new tab">RODECaster Pro II</a
        >
      </li>
      <li>
        <a
          href="https://earthworksaudio.com/products/ethos/"
          target="_blank"
          aria-label="Opens in a new tab">Earthworks ETHOS microphone</a
        >
      </li>
      <li>
        <a
          href="https://www.elgato.com/en/wave-mic-arm-lp/"
          target="_blank"
          aria-label="Opens in a new tab">Elgato Wave Mic Arm LP</a
        >
      </li>
      <li>
        <a
          href="https://www.amazon.com/dp/B0BRPR38JR"
          target="_blank"
          aria-label="Opens in a new tab">Sennheiser IE 200 in-ear monitors</a
        >
      </li>
      <li>
        <a
          href="https://www.amazon.com/CalDigit-TS4-Thunderbolt-Dock-USB/dp/B09GK8LBWS/"
          target="_blank"
          aria-label="Opens in a new tab">CalDigit TS4 Thunderbolt 4 Dock</a
        >
      </li>
      <li>
        <a
          href="https://electronics.sony.com/imaging/interchangeable-lens-cameras/full-frame/p/ilce7rm2-b/"
          target="_blank"
          aria-label="Opens in a new tab"
          >Sony A7R II (As webcam - there are better options)</a
        >
      </li>
      <li>
        <a href="https://www.elgato.com/en/cam-link-4k/">Elgato Cam Link 4k</a>
      </li>
      <li>
        <a
          href="https://electronics.sony.com/imaging/lenses/full-frame-e-mount/p/sel50f18f-2/"
          target="_blank"
          aria-label="Opens in a new tab"
          >Sony 50mm/1.8 (There are newer better options)</a
        >
      </li>
      <li>
        <a
          href="https://www.elgato.com/us/en/p/prompter"
          target="_blank"
          aria-label="Opens in a new tab">Elgato Prompter XL</a
        >
      </li>
      <li>
        <a
          href="https://www.aputure.com/products/amaran-100d/"
          target="_blank"
          aria-label="Opens in a new tab">amaran 100d Daylight LED Monolight</a
        >
      </li>
      <li>
        <a
          href="https://www.aputure.com/products/light-dome-se/"
          target="_blank"
          aria-label="Opens in a new tab">Aputure Light Dome SE</a
        >
      </li>
      <li>
        <a
          href="https://www.bhphotovideo.com/c/product/850444-REG/Impact_ls_ct40mbk_Turtle_Base_C_Stand_Kit.html"
          target="_blank"
          aria-label="Opens in a new tab"
          target="_blank"
          aria-label="Opens in a new tab"
          >Impact Turtle Base C-Stand Kit (Black)</a
        >
      </li>
    </ul>
    <h3>Computer</h3>
    <ul>
      <li>
        <a
          href="https://www.apple.com/mac-mini/"
          target="_blank"
          aria-label="Opens in a new tab"
          >2024 Mac Mini M4 Pro, 64GB DDR4, 1TB HD</a
        >
      </li>
      <li>
        <a
          href="https://www.apple.com/pro-display-xdr/"
          target="_blank"
          aria-label="Opens in a new tab">Apple Pro XDR monitor</a
        >
      </li>
      <li>
        <a
          href="https://www.apple.com/shop/product/MMMR3LL/A/magic-keyboard-with-touch-id-and-numeric-keypad-for-mac-models-with-apple-silicon-us-english-black-keys/"
          target="_blank"
          aria-label="Opens in a new tab"
          >Apple Magic Keyboard with Touch ID and Numeric Pad (Black)</a
        >
      </li>
      <li>
        <a
          href="https://www.apple.com/shop/product/MMMP3AM/A/magic-trackpad-black-multi-touch-surface/"
          target="_blank"
          aria-label="Opens in a new tab">Apple Magic Trackpad (Black)</a
        >
      </li>
      <li>
        <a
          href="https://www.zsa.io/moonlander"
          target="_blank"
          aria-label="Opens in a new tab">ZSA Moonlander keyboard</a
        >
      </li>
    </ul>
    <h3>Software</h3>
    <ul>
      <li>
        <a
          href="https://www.screen.studio/"
          target="_blank"
          aria-label="Opens in a new tab">Screen Studio</a
        >
      </li>
      <li>
        <a
          href="https://ghostty.org/"
          target="_blank"
          aria-label="Opens in a new tab">Ghostty</a
        >
      </li>
      <li>
        <a
          href="https://github.com/openai/codex"
          target="_blank"
          aria-label="Opens in a new tab">Codex CLI</a
        >
      </li>
      <li>
        <a
          href="https://www.cursor.com/"
          target="_blank"
          aria-label="Opens in a new tab">Cursor</a
        >
      </li>
      <li>
        <a
          href="https://www.raycast.com/"
          target="_blank"
          aria-label="Opens in a new tab">Raycast</a
        >
      </li>
      <li>
        <a
          href="https://www.ecamm.com/live/"
          target="_blank"
          aria-label="Opens in a new tab">Ecamm Live Pro</a
        >
      </li>
      <li>
        <a
          href="https://rectangleapp.com/pro/"
          target="_blank"
          aria-label="Opens in a new tab">Rectangle Pro</a
        >
      </li>
      <li>
        <a
          href="https://wisprflow.ai/"
          target="_blank"
          aria-label="Opens in a new tab">Wispr Flow</a
        >
      </li>
      <li>
        <a
          href="https://cleanshot.com/"
          target="_blank"
          aria-label="Opens in a new tab">Clean Shot</a
        >
      </li>
    </ul>
  </section>
</InnerLayout>
