---

---

<div class="region region-space-3xl-4xl bg-gray-1400 text-gray-800">
  <div class="wrapper flow">
    <p class="text-step-3">
      I'm a husband, father, <span
        class="bg-gradient-to-br from-indigo-vivid-400 to-indigo-vivid-600 bg-clip-text text-transparent"
      >
        designer</span
      >, <code class="bg-gray-1300 text-blue-vivid-500">developer</code>, and <span
        class="text-gold-500"
        style="filter: drop-shadow(0 0 15px rgba(222, 198, 154, 0.5));"
        >hopeless optimist</span
      >.
    </p>
    <p class="text-step-2 text-gray-900">
      Throughout my career, I've bridged the gap between design and development,
      as well as between marketing and SaaS products, to produce stellar user
      experiences. I enjoy mentoring and have worked in lab environments at
      small and large organizations.
    </p>
  </div>
</div>
