---
import { Picture } from 'astro:assets'
import frankstallone from '@assets/2023-Frank-Stallone-Web-Marketing-Expert.png'
---

<div class="region bg-gray-100 text-gray-1400">
  <div class="wrapper">
    <div class="grid" data-layout="label" style="--gutter: var(--space-l);">
      <div class="flow" style="--flow-space: var(--space-xs);">
        <h2 class="text-step-1">About</h2>
        <p class="text-step-00 text-gray-1100">Designer, developer, mentor.</p>
      </div>
      <div class="grid" data-layout="50-50" style="--gutter: var(--space-l);">
        <div class="flow text-gray-1400">
          <p class="text-step-1">
            I'm a husband, father, <span class="font-medium">designer</span>,
            <code class="bg-gray-200 text-gray-1400">developer</code>, and
            <span class="font-medium">hopeless optimist</span>.
          </p>
          <p class="text-step-0 text-gray-1200">
            Throughout my career, I've bridged the gap between design and
            development, as well as between marketing and SaaS products, to
            produce stellar user experiences. I enjoy mentoring and have worked
            in lab environments at small and large organizations.
          </p>
        </div>
        <div class="text-center relative overflow-hidden flex items-end">
          <Picture
            src={frankstallone}
            widths={[300, 800, 2000, frankstallone.width]}
            sizes={`(max-width: 300px) 300px, (max-width: 800px) 800px, (max-width: 1600px) 2000px, ${frankstallone.width}px`}
            class="object-contain h-auto"
            alt="The Internet's favorite Frank Stallone"
            formats={['avif', 'webp']}
          />
        </div>
      </div>
    </div>
  </div>
</div>
