---

---

<div
  class="flow flow-space-xs p-s border border-gray-700 text-gray-1400"
>
  <hgroup>
    <h3 class="mt-zero">
      <a href="/portfolio/klaviyo-asecnt-design-system-documentation-site/"
        >Ascent Documentation Site</a
      >
    </h3>
    <p class="font-medium text-step-1 mt-zero">
      Design systems, cross-team collaboration, process
    </p>
  </hgroup>
  <p>
    Creating a design system documentation site for Klaviyo, a marketing
    automation platform, collaboration exploration.
  </p>
</div>
