---

---

<div class="flow flow-space-xs text-gray-1400">
  <hgroup>
    <h3 class="mt-zero">
      <a href="/portfolio/klaviyo-asecnt-design-system-documentation-site/"
        >Ascent Documentation Site</a
      >
    </h3>
    <p class="text-step-00 text-gray-1100 mt-zero">
      Design systems, cross-team collaboration, process
    </p>
  </hgroup>
  <p class="text-step-00 text-gray-1200">
    Creating a design system documentation site for Klaviyo, a marketing
    automation platform, collaboration exploration.
  </p>
</div>
