---

---

<div
  class="animate-in box flow flow-space-xs w-fit border border-b-2 border-x-0 border-t-0 text-mint-vivid-800 bg-mint-200 border-mint-700"
>
  <hgroup>
    <h3 class="uppercase mt-zero">
      <a href="/portfolio/klaviyo-asecnt-design-system-documentation-site/"
        >Ascent Documentation Site</a
      >
    </h3>
    <p class="font-medium text-step-1 mt-zero">
      Design systems, cross-team collaboration, process
    </p>
  </hgroup>
  <p>
    Creating a design system documentation site for Klaviyo, a marketing
    automation platform, collaboration exploration.
  </p>
</div>
