---

---

<div
  class="animate-in box flow flow-space-xs w-fit border border-b-2 border-x-0 border-t-0 text-gold-vivid-800 bg-gold-200 border-gold-700"
>
  <hgroup>
    <h3 class="uppercase mt-zero">
      <a href="/portfolio/klaviyo-asecnt-design-system-phone-input/">
        Phone input
      </a>
    </h3>
    <p class="font-medium text-step-1 mt-zero">
      UX, UI, Product design, Design systems
    </p>
  </hgroup>
  <p>
    A look into the depths of a Phone Number input for Klaviyo's Ascent Design
    System. I produced the component from 0 to 1 ensuring multiple team
    stakeholders were in alignment.
  </p>
</div>
