---

---

<a
  href="/portfolio/klaviyo-asecnt-design-system-phone-input/"
  class="no-underline"
  ><div
    class="animate-in box flow flow-space-xs w-fit border border-b-2 border-x-0 border-t-0 text-gold-vivid-800 bg-gold-200 border-gold-700"
  >
    <hgroup>
      <div class="flex justify-between items-center">
        <h3 class="uppercase mt-zero">Ascent Design System: Phone input</h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          fill="currentColor"
        >
          <path
            d="M320 0L288 0l0 64 32 0 82.7 0L201.4 265.4 178.7 288 224 333.3l22.6-22.6L448 109.3l0 82.7 0 32 64 0 0-32 0-160 0-32L480 0 320 0zM32 32L0 32 0 64 0 480l0 32 32 0 424 0 32 0 0-32 0-128 0-32-64 0 0 32 0 96L64 448 64 96l96 0 32 0 0-64-32 0L32 32z"
          ></path></svg
        >
      </div>
      <p class="font-medium text-step-1 mt-zero">
        UX, UI, Product design, Design systems
      </p>
    </hgroup>
    <p>
      A look into the depths of a Phone Number input for the Ascent Design
      System. I produced the component from 0 to 1 ensuring multiple team
      stakeholders were in alignment.
    </p>
  </div>
</a>
