---

---

<div
  class="flow flow-space-xs p-s border border-gray-700 text-gray-1400"
>
  <hgroup>
    <h3 class="mt-zero">
      <a href="/portfolio/klaviyo-asecnt-design-system-phone-input/">
        Phone input
      </a>
    </h3>
    <p class="font-medium text-step-1 mt-zero">
      Design systems, Product design, UX, UI,
    </p>
  </hgroup>
  <p>
    A look into the depths of a Phone input for Klaviyo's Ascent Design System.
    I produced the component from 0 to 1 ensuring multiple team stakeholders
    were in alignment.
  </p>
</div>
