---
import Header from './Header.astro'
const { title, subtitle } = Astro.props

type Props = {
  title: string
  subtitle?: string
}

const description = subtitle
  ? subtitle
  : 'Sharing actionable tips from my enterprise, start up, agency, and life experience with a design and developer twist.'
---

<div id="hero" aria-label="Hero section" class="bg-gray-100 text-gray-1400">
  <Header />
  <div class="wrapper region">
    <div class="flow prose">
      <h1 class="text-balance hero-headline-alt">
        {title}
      </h1>
      <p class="text-step-0">{description}</p>
    </div>
  </div>
</div>
