---
import Header from './Header.astro';
import { getImage } from 'astro:assets';
import background from '../assets/frank-stallone-home-header-blank.png';
const { title, subtitle } = Astro.props;

type Props = {
  title: string;
  subtitle?: string;
};

const optimizedBackground = await getImage({ src: background });
const description = subtitle
  ? subtitle
  : 'Sharing actionable tips from my agency, enterprise, start up, and life experience with a design and developer twist.';
---

<div
  id="hero"
  style=`--cover-padding: 0;  background-image: url(${optimizedBackground.src})`
  aria-label="Hero section"
>
  <Header />
  <div class="region wrapper">
    <div
      class="box flex flex-col justify-center flow prose bg-transparent text-gray-100"
    >
      <h1 transition:name={'blog' + title}>{title}</h1>
      <h2 class="font-regular">{description}</h2>
    </div>
  </div>
</div>
