---
const date = new Date().getFullYear();
---

<footer class="region bg-gray-1400 text-gray-300 relative overflow-clip">
  <div class="wrapper">
    <div class="grid text-center md:text-left" data-layout="thirds">
      <div>
        <h2>Navigation</h2>
        <ul role="list">
          <li><a href="/">Home</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/portfolio/">Portfolio</a></li>
          <li>
            <a href="/products/lead-generation-for-small-business/"
              >Content compass</a
            >
          </li>
          <li>
            <a
              href="https://www.notion.so/product?utm_source=affl&utm_medium=frankstallone5388&pscd=affiliate.notion.so&ps_partner_key=ZnJhbmtzdGFsbG9uZTUzODg&ps_xid=e29iYmNUvF6R1d&gsxid=e29iYmNUvF6R1d&gspk=ZnJhbmtzdGFsbG9uZTUzODg"
              target="_blank"
              aria-label="Opens in new tab">Get Notion</a
            >
          </li>
          <li><a href="#contact">Reach out</a></li>
          <li>
            <a href="/accessibility-statement/">Accessibility statement</a>
          </li>
        </ul>
      </div>
      <ul role="list" class="cluster justify-center">
        <li>
          <a href="https://twitter.com/frankstallone" target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 448 512"
              role="img"
            >
              <title>X</title>
              <path
                d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm297.1 84L257.3 234.6 379.4 396H283.8L209 298.1 123.3 396H75.8l111-126.9L69.7 116h98l67.7 89.5L313.6 116h47.5zM323.3 367.6L153.4 142.9H125.1L296.9 367.6h26.3z"
                fill="currentColor"></path></svg
            ></a
          >
        </li>
        <li>
          <a href="https://www.facebook.com/iamfrankstallone" target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 512 512"
              role="img"
            >
              <title>Facebook</title>
              <path
                d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
                fill="currentColor"></path></svg
            ></a
          >
        </li>
        <li>
          <a href="https://www.threads.net/@frankstallone" target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 448 512"
              role="img"
            >
              <title>Threads</title>
              <path
                d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM294.2 244.3c19.5 9.3 33.7 23.5 41.2 40.9c10.4 24.3 11.4 63.9-20.2 95.4c-24.2 24.1-53.5 35-95.1 35.3h-.2c-46.8-.3-82.8-16.1-106.9-46.8C91.5 341.8 80.4 303.7 80 256v-.1-.1c.4-47.7 11.5-85.7 33-113.1c24.2-30.7 60.2-46.5 106.9-46.8h.2c46.9 .3 83.3 16 108.2 46.6c12.3 15.1 21.3 33.3 27 54.4l-26.9 7.2c-4.7-17.2-11.9-31.9-21.4-43.6c-19.4-23.9-48.7-36.1-87-36.4c-38 .3-66.8 12.5-85.5 36.2c-17.5 22.3-26.6 54.4-26.9 95.5c.3 41.1 9.4 73.3 26.9 95.5c18.7 23.8 47.4 36 85.5 36.2c34.3-.3 56.9-8.4 75.8-27.3c21.5-21.5 21.1-47.9 14.2-64c-4-9.4-11.4-17.3-21.3-23.3c-2.4 18-7.9 32.2-16.5 43.2c-11.4 14.5-27.7 22.4-48.4 23.5c-15.7 .9-30.8-2.9-42.6-10.7c-13.9-9.2-22-23.2-22.9-39.5c-1.7-32.2 23.8-55.3 63.5-57.6c14.1-.8 27.3-.2 39.5 1.9c-1.6-9.9-4.9-17.7-9.8-23.4c-6.7-7.8-17.1-11.8-30.8-11.9h-.4c-11 0-26 3.1-35.6 17.6l-23-15.8c12.8-19.4 33.6-30.1 58.5-30.1h.6c41.8 .3 66.6 26.3 69.1 71.8c1.4 .6 2.8 1.2 4.2 1.9l.1 .5zm-71.8 67.5c17-.9 36.4-7.6 39.7-48.8c-8.8-1.9-18.6-2.9-29-2.9c-3.2 0-6.4 .1-9.6 .3c-28.6 1.6-38.1 15.5-37.4 27.9c.9 16.7 19 24.5 36.4 23.6l-.1-.1z"
                fill="currentColor"></path></svg
            ></a
          >
        </li>
        <li>
          <a href="https://linkedin.com/in/frankstallone" target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              role="img"
              height="1em"
            >
              <title>LinkedIn</title>
              <path
                d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
                fill="currentColor"></path></svg
            ></a
          >
        </li>
        <li>
          <a href="https://mastodon.social/@frankstallone" target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 448 512"
              role="img"
            >
              <title>Mastodon</title>
              <path
                d="M433 179.11c0-97.2-63.71-125.7-63.71-125.7-62.52-28.7-228.56-28.4-290.48 0 0 0-63.72 28.5-63.72 125.7 0 115.7-6.6 259.4 105.63 289.1 40.51 10.7 75.32 13 103.33 11.4 50.81-2.8 79.32-18.1 79.32-18.1l-1.7-36.9s-36.31 11.4-77.12 10.1c-40.41-1.4-83-4.4-89.63-54a102.54 102.54 0 0 1-.9-13.9c85.63 20.9 158.65 9.1 178.75 6.7 56.12-6.7 105-41.3 111.23-72.9 9.8-49.8 9-121.5 9-121.5zm-75.12 125.2h-46.63v-114.2c0-49.7-64-51.6-64 6.9v62.5h-46.33V197c0-58.5-64-56.6-64-6.9v114.2H90.19c0-122.1-5.2-147.9 18.41-175 25.9-28.9 79.82-30.8 103.83 6.1l11.6 19.5 11.6-19.5c24.11-37.1 78.12-34.8 103.83-6.1 23.71 27.3 18.4 53 18.4 175z"
                fill="currentColor"></path></svg
            ></a
          >
        </li>
      </ul>
      <div
        class="box text-center flex flex-col flow flow-space-m bg-transparent text-gray-300"
      >
        <svg
          viewBox="0 0 238 209"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          style="height: 7rem; transform: rotate(-2deg);"
          class="w-auto text-gray-1000"
          role="img"
        >
          <title>Stallone Signature</title>
          <path
            d="M88.396,68.643c15.582,2.492 31.645,6.711 44.813,11.813c12.594,4.88 22.546,10.611 27.096,16.352c0.612,0.746 0.503,1.849 -0.244,2.461c-0.746,0.612 -1.849,0.503 -2.461,-0.243c-9.108,-10.754 -39.445,-20.34 -68.316,-24.247c2.114,15.1 4.489,35.437 6.477,55.622c2.461,1.345 4.841,2.689 7.109,4.034c11.071,6.569 19.451,13.416 22.312,20.244c6.12,14.676 1.568,26.806 -8.095,35.609c-4.673,4.256 -10.608,7.692 -17.069,10.202c-0.077,1.544 -0.194,2.846 -0.354,3.88c-0.144,0.954 -1.036,1.612 -1.991,1.468c-0.954,-0.144 -1.612,-1.036 -1.468,-1.99c0.088,-0.601 0.16,-1.294 0.217,-2.074c-10.188,3.331 -21.3,4.43 -30.663,2.911c-42.124,-6.871 -59.495,-35.527 -62.781,-69.39c-3.896,-40.141 12.369,-87.679 29.692,-112.944c4.901,-7.147 9.911,-12.539 14.559,-15.607c3.466,-2.287 6.799,-3.336 9.812,-3.126c6.85,0.479 12.432,5.295 16.707,12.258c9.374,15.271 12.663,40.853 13.093,43.229c0.484,2.667 1.007,5.882 1.555,9.538Zm8.171,124.995c-0.181,-11.235 -1.495,-28.599 -3.312,-47.37c-0.267,-2.754 -0.544,-5.539 -0.831,-8.339c-16.698,-9.183 -37.258,-18.437 -51.019,-28.533c-8.457,-6.205 -14.38,-12.872 -16.194,-19.733c-2.306,-8.787 1.218,-14.975 8.933,-18.85c6.417,-3.224 16.18,-4.72 27.594,-4.61c6.814,0.066 14.236,0.675 21.859,1.725c-0.488,-3.011 -0.952,-5.688 -1.385,-7.963c-0.384,-2.019 -2.99,-21.476 -9.91,-36.074c-3.763,-7.939 -8.65,-14.587 -15.605,-15.009c-2.019,-0.123 -4.19,0.764 -6.498,2.318c-4.169,2.807 -8.577,7.776 -12.942,14.266c-16.489,24.518 -31.858,70.484 -27.753,109.166c3.262,30.734 19.099,56.796 57.422,62.683c9.074,1.402 20.015,0.037 29.641,-3.677Zm0.143,-53.301c0.172,1.866 0.339,3.722 0.502,5.565c1.596,18.052 2.719,34.821 2.896,46.234c4.391,-2.039 8.396,-4.597 11.675,-7.628c7.186,-6.643 10.602,-15.732 5.94,-26.687c-2.404,-5.674 -9.81,-10.875 -19.033,-16.329c-0.651,-0.385 -1.312,-0.77 -1.98,-1.155Zm-12.138,-66.147c-2.829,-0.323 -5.631,-0.589 -8.386,-0.792c-16.084,-1.188 -30.5,-0.32 -38.641,4.003c-4.134,2.195 -6.19,5.48 -4.846,10.218c1.531,5.438 6.717,10.315 13.49,15.196c12.252,8.83 29.814,17.075 45.191,25.229c-2.145,-19.75 -4.633,-39.402 -6.808,-53.854Z"
          ></path>
          <path
            d="M111.927,142.139c-3.914,-11.187 -7.471,-23.587 -9.432,-34.403c-1.683,-9.275 -2.14,-17.447 -0.923,-22.895c1.296,-5.81 4.436,-9.082 8.977,-9.62c4.105,-0.486 7.589,1.235 10.301,5.011c2.891,4.027 4.919,10.873 5.97,19.133c0.333,2.619 0.578,5.386 0.744,8.244c0.118,-6.134 0.879,-11.366 2.422,-14.914c1.698,-3.905 4.348,-6.111 7.634,-6.605c3.691,-0.556 6.87,1.589 8.663,6.714c2.11,6.031 2.435,17.281 1.521,29.606c-0.94,12.666 -3.126,26.485 -5.596,36.724c0.325,0.97 0.653,1.889 0.981,2.751c0.868,2.279 1.72,4.141 2.562,5.428c0.195,0.298 0.462,0.625 0.646,0.84c2.377,-0.749 4.127,-2.653 5.486,-4.834c2.32,-3.722 3.517,-8.31 4.073,-11.098c0.065,-0.918 0.222,-1.877 0.475,-2.879c0.31,-1.189 1.409,-2 2.637,-1.946c1.227,0.055 2.25,0.959 2.455,2.171c0.004,0.024 -0.024,0.418 -0.104,1.089l0.055,0.002c-0.041,0.152 -0.078,0.301 -0.111,0.449c-0.056,0.428 -0.13,0.933 -0.223,1.501c-0.196,3.009 1.276,5.233 3.885,6.794c4.256,2.546 10.959,3.586 18.573,3.646c16.607,0.13 37.456,-4.567 48.257,-10.855c0.909,-0.539 2.085,-0.239 2.624,0.67c0.539,0.909 0.239,2.085 -0.67,2.624c-13.166,7.953 -40.897,13.888 -58.993,11.785c-7.034,-0.817 -12.606,-2.897 -15.827,-6.299c-0.645,1.768 -1.444,3.554 -2.433,5.203c-2.234,3.725 -5.401,6.704 -9.599,7.675c-1.184,0.274 -2.488,0.039 -3.805,-0.955c-0.939,-0.707 -1.98,-1.97 -3.002,-3.761c-0.174,-0.306 -0.35,-0.631 -0.527,-0.973c-0.298,0.847 -0.595,1.622 -0.89,2.32c-1.063,2.51 -2.248,4.206 -3.242,5.077c-1.24,1.087 -2.532,1.447 -3.7,1.428c-1.073,-0.018 -2.455,-0.419 -3.87,-1.667c-1.148,-1.013 -2.611,-2.922 -4.176,-5.62c-0.79,-1.364 -1.632,-2.956 -2.508,-4.739c-4.041,9.514 -9.168,12.654 -13.323,12.817c-4.25,0.168 -8.212,-2.574 -10.587,-6.503c-2.301,-3.808 -3.04,-8.552 -1.585,-12.004c1.849,-4.39 5.402,-7.483 9.45,-9.178c2.478,-1.038 5.125,-1.551 7.636,-1.552c-1.486,-1.328 -3.008,-2.438 -4.555,-3.357c-12.209,-7.252 -25.7,-2.793 -34.466,-1.621c-1.047,0.149 -2.018,-0.579 -2.167,-1.625c-0.149,-1.047 0.579,-2.018 1.625,-2.167c9.452,-1.438 23.929,-6.069 37.268,1.527c0.466,0.265 0.93,0.545 1.394,0.841Zm5.206,13.734c-0.448,-0.563 -0.87,-1.041 -1.032,-1.221c-2.53,-0.787 -5.745,-0.467 -8.608,0.795c-2.647,1.167 -4.999,3.2 -6.163,6.116c-0.753,1.888 0.006,4.399 1.294,6.441c1.185,1.878 2.924,3.487 4.979,3.369c1.355,-0.078 2.681,-0.995 4.058,-2.713c1.622,-2.025 3.135,-5.055 4.514,-9.308c0.333,-1.026 0.653,-2.192 0.958,-3.479Zm17.745,-0.345c-2.847,-9.589 -5.383,-21.892 -6.597,-33.313c-0.182,-1.717 -0.332,-3.414 -0.448,-5.08c0.016,12.725 -1.235,26.025 -3.081,35.628c1.315,3.178 2.608,6.072 3.83,8.57c0.93,1.9 2.061,3.792 2.989,5.249c0.448,-1.111 0.9,-2.414 1.356,-3.876c0.658,-2.114 1.314,-4.534 1.951,-7.178Zm2.817,-13.949c1.091,-6.439 1.992,-13.268 2.559,-19.779c0.967,-11.085 1.069,-21.223 -0.75,-26.68c-0.224,-0.672 -0.463,-1.253 -0.767,-1.708c-0.067,-0.1 -0.182,-0.236 -0.248,-0.312c-0.656,0.141 -1.128,0.655 -1.555,1.319c-0.645,1.005 -1.133,2.309 -1.522,3.838c-1.461,5.75 -1.462,14.226 -0.642,23.321c0.596,6.603 1.635,13.525 2.925,20.001Zm-18.072,-2.366c0.869,-9.574 1.128,-20.559 0.457,-30.437c-0.617,-9.08 -1.974,-17.204 -4.561,-22.214c-1.081,-2.092 -2.165,-3.685 -3.996,-3.45c-0.723,0.093 -1.115,0.676 -1.451,1.395c-0.561,1.201 -0.846,2.757 -0.997,4.573c-0.564,6.744 1.049,16.497 3.614,26.915c1.895,7.695 4.336,15.736 6.934,23.218Z"
          ></path>
        </svg>
        <small class="text-step-000">Frank Stallone © {date}</small>
        <a href="https://astro.build/">
          <small class="flex justify-center items-center text-step-000">
            <svg
              width="85"
              height="107"
              viewBox="0 0 85 107"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="mr-2xs"
            >
              <path
                d="M27.5893 91.1365C22.7555 86.7178 21.3443 77.4335 23.3583 70.7072C26.8503 74.948 31.6888 76.2914 36.7005 77.0497C44.4374 78.2199 52.0358 77.7822 59.2231 74.2459C60.0453 73.841 60.8052 73.3027 61.7036 72.7574C62.378 74.714 62.5535 76.6892 62.3179 78.6996C61.7452 83.5957 59.3086 87.3778 55.4332 90.2448C53.8835 91.3916 52.2437 92.4167 50.6432 93.4979C45.7262 96.8213 44.3959 100.718 46.2435 106.386C46.2874 106.525 46.3267 106.663 46.426 107C43.9155 105.876 42.0817 104.24 40.6844 102.089C39.2086 99.8193 38.5065 97.3081 38.4696 94.5909C38.4511 93.2686 38.4511 91.9345 38.2733 90.6309C37.8391 87.4527 36.3471 86.0297 33.5364 85.9478C30.6518 85.8636 28.37 87.6469 27.7649 90.4554C27.7187 90.6707 27.6517 90.8837 27.5847 91.1341L27.5893 91.1365Z"
                fill="white"></path>
              <path
                d="M0 69.5866C0 69.5866 14.3139 62.6137 28.6678 62.6137L39.4901 29.1204C39.8953 27.5007 41.0783 26.3999 42.4139 26.3999C43.7495 26.3999 44.9325 27.5007 45.3377 29.1204L56.1601 62.6137C73.1601 62.6137 84.8278 69.5866 84.8278 69.5866C84.8278 69.5866 60.5145 3.35233 60.467 3.21944C59.7692 1.2612 58.5911 0 57.0029 0H27.8274C26.2392 0 25.1087 1.2612 24.3634 3.21944C24.3108 3.34983 0 69.5866 0 69.5866Z"
                fill="white"></path>
            </svg> Astro contributor
          </small>
        </a>
      </div>
    </div>
  </div>
  <svg
    viewBox="0 0 1044 100"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    role="img"
    class="absolute w-dvw h-auto text-gray-1000 transition-colors duration-300 ease-in-out -bottom-2xs md:-bottom-l animate-in"
  >
    <title>Frank Stallone logo</title>
    <g>
      <path
        d="M0.658,97.478l19.75,0l0,-39.5l33.25,0l0,-16.75l-33.25,0l0,-21.25l34.125,0l0,-16.75l-53.875,0l0,94.25Z"
      ></path>
      <path
        d="M84.158,61.478l1.75,0l26.875,36l24,0l-29.75,-38.375c12.5,-4.125 20.75,-13.5 20.75,-26.75c0,-18.5 -14.875,-29.125 -35.625,-29.125l-27.875,0l0,94.25l19.875,0l0,-36Zm0,-41.75l7.625,0c9.125,0 15.75,4.5 15.75,13.125c0,8.875 -6.625,13.375 -15.75,13.375l-7.625,0l0,-26.5Z"
      ></path>
      <path
        d="M213.908,97.478l21,0l-40.125,-94.25l-17,0l-40.125,94.25l20.5,0l8.125,-19.75l39.5,0l8.125,19.75Zm-27.875,-67.75l12.875,31.375l-25.75,0l12.875,-31.375Z"
      ></path>
      <path
        d="M238.033,3.228l0,94.25l19.375,0l0,-61l50.25,61l15,0l0,-94.25l-19.375,0l0,60.375l-49.375,-60.375l-15.875,0Z"
      ></path>
      <path
        d="M354.033,3.228l-20.125,0l0,94.25l20.125,0l0,-32.5l6.75,-7.625l30.75,40.125l24.375,0l-41.375,-54.25l36,-40l-24,0l-32.5,37.5l0,-37.5Z"
      ></path>
      <path
        d="M510.908,68.228c0,-34 -44.625,-22.875 -44.625,-39.375c0,-6.25 4.75,-10.125 10.875,-10.125c6.625,0 10.75,4.625 12.5,10l18.5,-6.875c-4.125,-12.25 -15.5,-20.125 -30.25,-20.125c-18.75,0 -31.25,13.125 -31.25,28.5c0,33 44.25,21 44.25,39c0,7.75 -6,12.625 -14,12.625c-8.5,0 -14.75,-5.875 -16.875,-14.875l-18.75,6c3.5,15.75 17.5,26 35,26c19.125,0 34.625,-13 34.625,-30.75Z"
      ></path>
      <path
        d="M581.658,19.978l0,-16.75l-69.625,0l0,16.75l24.75,0l0,77.5l20.125,0l0,-77.5l24.75,0Z"
      ></path>
      <path
        d="M642.283,97.478l21,0l-40.125,-94.25l-17,0l-40.125,94.25l20.5,0l8.125,-19.75l39.5,0l8.125,19.75Zm-27.875,-67.75l12.875,31.375l-25.75,0l12.875,-31.375Z"
      ></path>
      <path
        d="M668.908,97.478l55.125,0l0,-16.75l-35,0l0,-77.5l-20.125,0l0,94.25Z"
      ></path>
      <path
        d="M732.533,97.478l55.125,0l0,-16.75l-35,0l0,-77.5l-20.125,0l0,94.25Z"
      ></path>
      <path
        d="M785.533,50.353c0,26.75 21.75,48.625 48.625,48.625c27.125,0 48.75,-21.875 48.75,-48.625c0,-26.75 -21.625,-48.625 -48.75,-48.625c-26.875,0 -48.625,21.875 -48.625,48.625Zm77.125,0c0,17.25 -12.625,29.875 -28.5,29.875c-15.75,0 -28.5,-12.625 -28.5,-29.875c0,-17.25 12.75,-29.875 28.5,-29.875c15.875,0 28.5,12.625 28.5,29.875Z"
      ></path>
      <path
        d="M891.408,3.228l0,94.25l19.375,0l0,-61l50.25,61l15,0l0,-94.25l-19.375,0l0,60.375l-49.375,-60.375l-15.875,0Z"
      ></path>
      <path
        d="M987.283,97.478l56,0l0,-16.75l-36.25,0l0,-23.5l35.25,0l0,-16.75l-35.25,0l0,-20.5l36.125,0l0,-16.75l-55.875,0l0,94.25Z"
      ></path>
    </g>
  </svg>
</footer>
