---
import { Image } from 'astro:assets';
import frankstallone from '../assets/frank-stallone-logo-2023-04-white@2x.png';
---

<header
  class="cluster box text-center justify-between"
  style="--spot-color: transparent;"
>
  <a href="/">
    <Image
      src={frankstallone}
      class="object-contain"
      alt="The Internet's favorite Frank Stallone"
      style="width: 140px;"
    />
  </a>
  <nav>
    <ul
      role="list"
      class="cluster justify-center font-weight-emphasis font-display"
      style="--gap: var(--space-l);"
    >
      <li class="button"><a href="#contact">Reach out</a></li>
    </ul>
  </nav>
</header>
