---
import Header from './Header.astro';
import frankstallone from '../assets/2023-Frank-Stallone-Web-Marketing-Expert.png';
import { Image } from 'astro:assets';
---

<div class="cover spot-color-gray-dark" id="hero" style="--cover-padding: 0;">
  <Header />
  <div class="switcher" style="--spot-color: transparent;">
    <div class="box flex flex-col justify-center flow prose">
      <h1 class="step-5">Learn, grow, prosper</h1>
      <h2 class="font-weight-base">
        Sharing actionable tips from my agency, enterprise, start up, and life
        experience with a design and developer twist.
      </h2>
    </div>
    <div class="text-center relative overflow-hidden">
      <Image
        src={frankstallone}
        class="object-contain h-auto"
        alt="The Internet's favorite Frank Stallone"
        loading="eager"
      />
    </div>
  </div>
</div>
