---
import Header from './Header.astro'

import { getImage, Picture } from 'astro:assets'
import background from '@assets/frank-stallone-home-header-blank.png'

const optimizedBackground = await getImage({ src: background })
---

<div
  id="hero"
  style={`--cover-padding: 0; background: center / cover no-repeat var(--color-gray-1400) url(${optimizedBackground.src}); `}
  aria-label="Hero section"
>
  <Header />
  <div
    class="box flex flex-col justify-center flow prose bg-transparent text-gray-100 h-[20vh] md:h-[50vh]"
  >
    <h1 class="text-[10vw] uppercase font-bold leading-flat">
      Creative <br /> empowerment
    </h1>
  </div>
</div>
