---
import Header from './Header.astro'
---

<div id="hero" aria-label="Hero section" class="bg-gray-100 text-gray-1400">
  <Header />
  <div class="wrapper region">
    <div class="flow prose">
      <h1 class="text-step-5 text-balance hero-headline-alt">
        Creative empowerment.
      </h1>
    </div>
  </div>
</div>
