---
const { count, slug } = Astro.props;
---

<post-likes
  data-initial={count}
  data-slug={slug}
  class="inline-flex align-center justify-center rounded-3xl bg-gray-600 text-step-00 text-gray-100"
>
  <button
    aria-live="polite"
    aria-label="Click to like this post"
    class="bg-transparent border-none flex justify-center align-center px-xs py-2xs"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
      fill="currentColor"
    >
      <title>Like button icon</title>
      <path
        d="M240 67.7V32h96V67.7c0 38.1-9 75.1-25.8 108.3H464h48v96H496v80H472v72H448v56H400 280 265.5l-12.1-8.1-72-48L160 409.7V384 320 224 200.9l18-14.4 7.9-6.4c34.2-27.3 54-68.7 54-112.4zM128 192V480H0V192H128z"
      ></path></svg
    ><span class="ml-3xs" aria-label="The amount of likes">0</span></button
  >
</post-likes>

<script>
  class Likes extends HTMLElement {
    constructor() {
      super();
      let count = this.dataset.initial ?? 0;
      const slug = this.dataset.slug;
      const likeButton = this.querySelector('button');
      const countSpan = this.querySelector('span');

      if (countSpan && count !== 0) {
        countSpan.textContent = count.toString();
      }

      // If button is clicked, send a POST request to the server
      likeButton?.addEventListener('click', async (e) => {
        e.preventDefault();
        try {
          const response = await fetch(`/api/like-post/${slug}`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ slug: '{{ slug }}' }),
          });
          if (response.ok) {
            const { message, count } = await response.json();
            if (countSpan) {
              countSpan.textContent = count;
            }
            this.checkIfLiked();
          }
        } catch (error) {
          console.error(error);
        }
      });
    }

    connectedCallback() {
      this.checkIfLiked();
    }

    checkIfLiked = async () => {
      const likeComponent = this;
      const likeButton = this.querySelector('button');
      try {
        const response = await fetch(`/api/like-post/${this.dataset.slug}`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          },
        });
        if (response.ok) {
          const { liked } = await response.json();
          if (liked) {
            likeComponent?.classList.add('bg-indigo-vivid-600');
            likeComponent?.classList.remove('bg-gray-600');
            likeButton?.classList.remove('text-indigo-1000');
            likeButton?.classList.add('text-indigo-100');
            likeButton?.setAttribute(
              'aria-label',
              'Post liked. Thank you! Click to unlike this post'
            );
          } else {
            likeComponent?.classList.remove('bg-indigo-vivid-600');
            likeComponent?.classList.add('bg-gray-600');
            likeButton?.classList.remove('text-indigo-100');
            likeButton?.classList.add('text-indigo-1000');
            likeButton?.setAttribute('aria-label', 'Click to like this post');
          }
        }
      } catch (error) {
        console.error(error);
      }
    };
  }

  customElements.define('post-likes', Likes);
</script>
