---

---

<div
  class="flow flow-space-xs p-s border border-gray-700 text-gray-1400"
>
  <hgroup>
    <h3 class="mt-zero">
      <a href="/portfolio/roll-by-adp/">Roll</a>
    </h3>
    <p class="font-medium text-step-1 mt-zero">
      UX, UI, Product design, Design systems
    </p>
  </hgroup>
  <p>
    Revamping Roll by ADP, I transformed complex payroll processes into an
    intuitive mobile experience, focusing on simplifying payroll HCM &amp; HR
    management for small business owners.
  </p>
</div>
