---

---

<div
  class="animate-in box flow flow-space-xs w-fit border border-b-2 border-x-0 border-t-0 text-blue-vivid-800 bg-blue-200 border-blue-700"
>
  <hgroup>
    <h3 class="uppercase mt-zero">
      <a href="/portfolio/roll-by-adp/">Roll</a>
    </h3>
    <p class="font-medium text-step-1 mt-zero">
      UX, UI, Product design, Design systems
    </p>
  </hgroup>
  <p>
    Revamping Roll by ADP, I transformed complex HR processes into an intuitive
    mobile experience, simplifying payroll management for small business owners.
  </p>
</div>
