@keyframes fade-in {
  from {
    scale: 0.95;
    opacity: 0.15;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
@keyframes fade-to {
  to {
    scale: 1;
    opacity: 1;
  }
}
@supports (animation-timeline: view()) {
  @media (prefers-reduced-motion: no-preference) {
    article[data-article] img {
      scale: 0.75;
      opacity: 0.5;
      animation: fade-to linear forwards;
      animation-timeline: view();
      animation-range: entry;
    }
  }
}
