@keyframes fade-in {
  from {
    scale: 0.75;
    opacity: 0.15;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
@keyframes fade-to {
  to {
    scale: 1;
    opacity: 1;
  }
}

@supports (animation-timeline: view()) {
  @media (prefers-reduced-motion: no-preference) {
    img,
    .animate-in {
      scale: 0.75;
      opacity: 0.15;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range-start: entry 20%;
      animation-range-end: cover 30%;
    }
  }
}
