#hero {
  background-color: var(--gray-12);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Media queries
@media (min-width: 50em) {
}

@media (min-width: 80em) {
}

@media (min-width: 90em) {
}

@media (min-width: 120em) {
}
*/
