/* Global variables */

/* Thank you to Radix
https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/ */

:root {
  --violet-1: #fdfcfe;
  --violet-2: #faf8ff;
  --violet-3: #f4f0fe;
  --violet-4: #ebe4ff;
  --violet-5: #e1d9ff;
  --violet-6: #d4cafe;
  --violet-7: #c2b5f5;
  --violet-8: #aa99ec;
  --violet-9: #6e56cf;
  --violet-10: #654dc4;
  --violet-11: #6550b9;
  --violet-12: #2f265f;
  --gray-1: #fcfcfc;
  --gray-2: #f9f9f9;
  --gray-3: #f0f0f0;
  --gray-4: #e8e8e8;
  --gray-5: #e0e0e0;
  --gray-6: #d9d9d9;
  --gray-7: #cecece;
  --gray-8: #bbbbbb;
  --gray-9: #8d8d8d;
  --gray-10: #838383;
  --gray-11: #646464;
  --gray-12: #202020;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --violet-1: color(display-p3 0.991 0.988 0.995);
      --violet-2: color(display-p3 0.978 0.974 0.998);
      --violet-3: color(display-p3 0.953 0.943 0.993);
      --violet-4: color(display-p3 0.916 0.897 1);
      --violet-5: color(display-p3 0.876 0.851 1);
      --violet-6: color(display-p3 0.825 0.793 0.981);
      --violet-7: color(display-p3 0.752 0.712 0.943);
      --violet-8: color(display-p3 0.654 0.602 0.902);
      --violet-9: color(display-p3 0.417 0.341 0.784);
      --violet-10: color(display-p3 0.381 0.306 0.741);
      --violet-11: color(display-p3 0.383 0.317 0.702);
      --violet-12: color(display-p3 0.179 0.15 0.359);
      --gray-1: color(display-p3 0.988 0.988 0.988);
      --gray-2: color(display-p3 0.975 0.975 0.975);
      --gray-3: color(display-p3 0.939 0.939 0.939);
      --gray-4: color(display-p3 0.908 0.908 0.908);
      --gray-5: color(display-p3 0.88 0.88 0.88);
      --gray-6: color(display-p3 0.849 0.849 0.849);
      --gray-7: color(display-p3 0.807 0.807 0.807);
      --gray-8: color(display-p3 0.732 0.732 0.732);
      --gray-9: color(display-p3 0.553 0.553 0.553);
      --gray-10: color(display-p3 0.512 0.512 0.512);
      --gray-11: color(display-p3 0.392 0.392 0.392);
      --gray-12: color(display-p3 0.125 0.125 0.125);
    }
  }
}

:root {
  --measure: 70ch;
  --color-light: white;
  --color-dark: var(--gray-12);
  --color-loud: var(--violet-9);
  --ratio: 1.5;
  --line-height: var(--ratio);
  --line-height-small: calc(var(--ratio) * 0.7);
  --font-base: 'Public Sans', sans-serif;
  --font-base-weight: 300;
  --font-emphasis-weight: 500;
  --font-medium-weight: 600;
  --font-display: 'Future', 'sans-serif';
  --font-date: 'Future Mono', 'sans-serif';
  --gutter: var(--space-s-m);
  --border-radius: var(--step-1);
  --transition-base: 250ms ease-in-out;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --tracking-l: 0.1ch;
  --tracking-m: -0.075ch;
  --tracking: -0.05ch;
  --tracking-s: -0.025ch;
  --skew-s: 1.5rem;
  --skew-m: 2rem;

  /* @link https://utopia.fyi/space/calculator/?c=320,16,1.2,1240,20,1.25,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|l-2xl&g=s,l,xl,12 */
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.11vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.46rem + 0.22vw), 0.63rem);
  --space-xs: clamp(0.75rem, calc(0.68rem + 0.33vw), 0.94rem);
  --space-s: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
  --space-m: clamp(1.5rem, calc(1.37rem + 0.65vw), 1.88rem);
  --space-l: clamp(2rem, calc(1.83rem + 0.87vw), 2.5rem);
  --space-xl: clamp(3rem, calc(2.74rem + 1.3vw), 3.75rem);
  --space-2xl: clamp(4rem, calc(3.65rem + 1.74vw), 5rem);
  --space-3xl: clamp(6rem, calc(5.48rem + 2.61vw), 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.12rem + 0.65vw), 0.63rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.35rem + 0.76vw), 0.94rem);
  --space-xs-s: clamp(0.75rem, calc(0.58rem + 0.87vw), 1.25rem);
  --space-s-m: clamp(1rem, calc(0.7rem + 1.52vw), 1.88rem);
  --space-m-l: clamp(1.5rem, calc(1.15rem + 1.74vw), 2.5rem);
  --space-l-xl: clamp(2rem, calc(1.39rem + 3.04vw), 3.75rem);
  --space-xl-2xl: clamp(3rem, calc(2.3rem + 3.48vw), 5rem);
  --space-2xl-3xl: clamp(4rem, calc(2.78rem + 6.09vw), 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, calc(0.48rem + 2.61vw), 2.5rem);
  --space-l-2xl: clamp(2rem, calc(0.96rem + 5.22vw), 5rem);

  /* @link https://utopia.fyi/type/calculator/?c=320,16,1.2,1240,20,1.25,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.69rem, calc(0.66rem + 0.18vw), 0.8rem);
  --step--1: clamp(0.83rem, calc(0.78rem + 0.29vw), 1rem);
  --step-0: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(1.07rem + 0.63vw), 1.56rem);
  --step-2: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
  --step-3: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
  --step-4: clamp(2.07rem, calc(1.73rem + 1.7vw), 3.05rem);
  --step-5: clamp(2.49rem, calc(2.03rem + 2.31vw), 3.82rem);
  --step-6: clamp(2.99rem, calc(2.37rem + 3.1vw), 4.77rem);
  --step-7: clamp(3.58rem, calc(2.76rem + 4.13vw), 5.96rem);
}
