/* Buttons */

.button {
  @apply font-display no-underline font-medium text-step-0 bg-transparent text-gray-1400 cursor-pointer border border-gray-700 px-s py-2xs text-center;
}
.button:hover,
.button:focus,
.button:active {
  @apply bg-gray-200;
  text-decoration: none;
}
