/* Footer */

footer {
  color: var(--color-gray-1200);
}

footer small {
  font-size: var(--step--2);
}

footer a,
footer a:visited {
  color: currentcolor;
  text-decoration: none;
}
footer a:hover,
footer a:focus,
footer a:active {
  color: var(--color-gray-1400);
  text-decoration: underline;
}
