/* Main navigation buttons */
.header-link a {
  @apply text-gray-1400 no-underline inline-block;
}

.header-link a:hover,
.header-link a:focus,
.header-link a:active {
  @apply text-gray-1200 underline;
  text-decoration-thickness: max(0.08em, 1px);
}
