.post-card {
  padding: var(--padding, var(--space-l));
  border: var(--border-thin) solid;
  color: var(--spot-color-text, var(--color-dark));
  background-color: var(--spot-color, transparent);
}

@supports (animation-timeline: view()) {
  @media (prefers-reduced-motion: no-preference) {
    .post-card {
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range: entry;
    }
  }
}

.post-card * {
  color: inherit;
}
