.post-card {
  padding: var(--padding, var(--space-l));
  border: var(--border-thin) solid;
  color: var(--spot-color-text, var(--color-dark));
  background-color: var(--spot-color, transparent);
}

@supports (animation-timeline: view()) {
  @media (prefers-reduced-motion: no-preference) {
    .post-card {
      scale: 0.95;
      opacity: 0.15;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range-start: entry 20%;
      animation-range-end: cover 30%;
    }
  }
}

.post-card * {
  color: inherit;
}
