---
import Contact from '@components/Contact.astro';
import Footer from '@components/Footer.astro';
import Head from '@components/Head.astro';
import BlogHero from '@components/BlogHero.astro';
import type { Header, SubPages } from 'client';

export interface Props extends Header, SubPages {}

const { meta, subtitle } = Astro.props;
const pageTitle = meta.title
  ? meta.title
  : 'The Internets favorite Frank Stallone';
---

<!doctype html>
<html lang="en">
  <Head meta={meta} />
  <body>
    <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
    <main>
      <!-- Heading & Hero -->
      <BlogHero title={pageTitle} subtitle={subtitle} />
      <slot />
      <!-- Contact -->
      <Contact />
      <!-- Footer -->
      <Footer />
    </main>
  </body>
</html>
